* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =====================Global css========================= */

body {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}

ul {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

ul li {
    margin-right: 20px;
    font-size: 1rem;
}

button {
    cursor: pointer;
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: none;
}

/* ========================Header css======================= */

header {
    width: 100%;
    height: 70px;
}


/*
header navigation css
*/

.header-nav {
    width: 90%;
    height: 70px;
    margin-left: auto;
}

.avatar {
    border: 1px solid rgb(151, 149, 149);
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(78, 182, 185);
}

.avatar a {
    color: white;
}

/* ======================Main css======================== */

main {
    width: 100%;
    height: 82vh;
}
/*
hero section css
*/

.hero {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 35px;
}

.hero img {
    display: block;

}

/*
search section css
*/

.search-section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search {
    display: flex;
    min-width: 400px;
    max-width: 500px;
    height: 40px;
    justify-content: space-between;
    border: 1px solid rgb(228, 219, 219);
    border-radius: 10px;
}

.search:hover {
    box-shadow: 1px 1px rgb(197, 192, 192);
}
.icon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search input {
    width: 100%;
    outline: none;
    font-size: 1rem;
    line-height: 1.5em;
}

/*
button section css
*/

.btn-section {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.btn-section button {
    width: 120px;
    height: 35px;
    margin: 0 25px;
    background-color: white;
    user-select: none;
    font-size: .9rem;
}

.btn-section button:hover {
    border: 1px solid rgb(141, 137, 137);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* =====================Footer css======================== */

footer {
    width: 100%;
    height: 70px;
    border-top: 1px solid gainsboro;
}

/*
footer navigation css
*/

.footer-nav {
    width: 50%;
    height: 70px;
    float: left;
}

.footer-nav nav ul {
    justify-content: flex-start;
    padding-left: 20px;
}

/*
footer legal information css
*/

.legal {
    width: 50%;
    height: 70px;
    float: right;
}